
#navBar {
   padding: 20px;
   position: relative;
   border: solid white;
   font-size: 20px;
   color: white;
   background-color: black;
   z-index: 1;
}

.md-sidenav-left {
   /*Fixed works*/
   position: fixed;
   border: solid white;
   background-color: black;
   color: white;
   z-index: 60;
}

video {
  margin-top: -8%;
  opacity: .9;
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: black;
  z-index: 0;
}

.intro {
   opacity: .7;
   width: 100%;
   height: 800px;
   background-color: black;
   position: relative;
   z-index: 0;
}

.title {
   position: relative;
   color: white;
   opacity: .8;
   z-index: 0  ;
}

a {
   color: white;
   text-decoration: none;
}
