/* --- Nav --- */
#nav_bar {
   padding: 20px;
   position: relative;
   border: solid black 1px;
   background-color: white;
   z-index: 1;
}

.nav_button {
  font-size: 14px;
  color: black;
  text-decoration-color: black;
}

/* --- Home --- */
video {
  opacity: .9;
  width: 99%;
  height: auto;
  margin-top: -12.8%;
  position: absolute;
  background-color: white;
  background-size: 120%;
  z-index: 0;
}

.platform {
   opacity: .7;
   background-color: white;
   position: relative;
}

.title {
   opacity: .8;
   background-color: white;
   position: relative;
   color: black;
   margin-bottom: 0;
}

.work {
  color: white;
  z-index: 1;
}

/* --- Contact --- */
.contact {
  color:black;
}

.contact h3 {
   border-bottom: 0.5px black solid;
}
.contact h4 {
   border-bottom: 0.5px black solid;
}

.md-sidenav-left {
   position: fixed;
   border: solid black 1px;
   background-color: white;
   z-index: 60;
}
